.body{
    color: rgb(236, 235, 235);
    background-color: rgb(32, 34, 34);
    opacity: 90%;
    background-image: url(../images/imagemFundoHome.jpg);
    background-size: cover;
}
.ul{

    display: flex;
    flex-direction: row; /* predeterminado */
}