@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url(/trabalhofinal/images/background\ home.png);
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

header ul:not(.logo) {
  list-style: none;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(7px);
  opacity: 0.9;
  padding: 0 48px;
  scroll-behavior: smooth;
  transition: var("scroll-behavior: auto");
}



header li :hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 0px 0px #eeff00ad;
}

header li :active {
  box-shadow: 0px 5px 0px 0px #11da2c7c;
}

.logo {

  height: 150px;
}

nav img {
  height: 110px;

}

/* css conteudo principal */

.box {
  color: #c0bcbc;
  background-color: rgba(0, 0, 0, 0.541);
  box-shadow: 8px 8px 8px 0px rgba(251, 255, 0, 0.418);
  max-width: 60%;
  font-size: 30px;
  line-height: 48px;
  padding: 20px;
  scroll-behavior: smooth;
}

.box h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
}

.box ul {
  list-style: none;
  color: #aca038;
}

/*conteudo */

.box img {
  width: 50%;
  margin-bottom: 10px;
}

/* css aba contato e loja */

.caixa {
  color: #aca038;
  background-color: rgba(0, 0, 0, 0.541);
  box-shadow: 8px 8px 8px 0px rgba(251, 255, 0, 0.418);
  max-width: 60%;
  font-size: 30px;
  line-height: 48px;
  padding: 20px;

}

.caixa h1,
label {
  color: #aca038;
}

/* botao enviar e limpar */

.botao {
  background-color: #aca038;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.botao:hover {
  background-color: rgb(19, 99, 33);
  color: #c0bcbc;
  box-shadow: 5px 5px 0px 0px #ffffff15;

}


.botao:active {
  background-color: rgba(29, 29, 29, 0.377);
  color: rgb(19, 99, 33);
  box-shadow: 5px 5px 0px 0px #aca038;
  border: #aca038;

}

/* caixas de contato */

.texto {
  border: 3px solid #aca038;
  background-color: rgba(0, 0, 0, 0.541);
  color: #c0bcbc;
  width: 80%
}

.texto:hover {
  border: 3px solid rgb(19, 99, 33);
}

.caixa {
  background-color: rgba(0, 0, 0, 0.623);
  color: #bcc0bc;
}

/* botão voltar ao topo */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 90px;
  right: 10px;
  width: 50px;
  height: 50px;
  backdrop-filter: blur(5px);
  text-decoration: none;
}

.btn::after {
  content: "↑";
  font-size: 50px;
  font-weight: bold;
  color: rgb(161, 172, 17);
  transition-duration: 250ms;
}

.btn:hover::after {
  color: #bcc0bc;
  margin-top: -8px;
}

/* css footer */

.cabecalho {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.527);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;

}

/* mobile */

.logo-mobile {
  display: none;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}






@media only screen and (max-width: 1199.98px) {

    .box {
    font-size: 25px;
    line-height: 1.2;
  }

  nav img {
    height: 90px;
  }

  .logo {
    height: 130px;
  }
  .footer-icon {
    transform: scale(.8);
  }

}

@media only screen and (max-width: 991.98px) {


  
  .box {
    max-width: 80%;
    font-size: 20px;
    line-height: 1.2;
  }

  .cabecalho {
    text-align: center;
  }

  nav img {
    height: 70px;
  }

  .logo {
    height: 100px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: .9rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
  }
  .footer-icon {
    transform: scale(.7);
  }
}

@media only screen and (max-width: 767.98px) {
  .logo-mobile {
    display: block;
  }

  .bb {
    margin-left: 25%;
  }

  .menu {
    display: none;
  }

  
  .footer-icon {
    transform: scale(.8);
  }

  .cabecalho {
    padding: 10px;
    text-align: center;


  }

  body {
    max-width: 767.98px;
    background-image: url(/trabalhofinal/images/wppr.png);
    background-position-y: -180px;
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;
  }

  header ul {
    list-style: none;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(0px);
    background-color: rgba(0, 0, 0, 0.459);
  }

  .box p {
    font-size: 20px;
    line-height: 30px;
  }

  .box img {
    transform: scale(.8);
  }


  nav img {
    height: 100px;
  }

  .logo {
    height: 150px;
  }
}


@media only screen and (max-width: 575.98px) {

/*conteudo */

.box img {
  width: 90%;
  margin-bottom: 10px;}

  .box p {
    font-size: 15px;
    line-height: 30px;
  }

  .box h1 {
    color: #aca038;
    font-size: 2rem;

  }

  .caixa {
    max-width: 575.98px;
    color: rgb(207, 199, 199);
    left: 0px;
    font-size: 15px;
    line-height: 25px;
    bottom: auto;
    padding: 10px;
  }
  .caixa h1,
  label {
    
    font-size: 2rem;
  }
 

  .loja h2{
font-size: 1.8rem;
  }

  .button{
    color: #aca038;
  }
 .btn-success{
  font-size: .7rem;
  width: 130px;
  height: 30px;
  background-color: rgb(19, 99, 33);
  color: #000000;
  }

  .cabecalho h2 {
    font-size: 1rem;
  }
  .footer-icon {
    transform: scale(.5);
  }
  
  .cabecalho {
   
    text-align: center;


  }
  .logo-mobile {
    display: block;
  }

  .bb {
    margin-left: 25%;
  }

  .menu {
    display: none;
  }

  body {
    max-width: 575.98px;
    background-image: url(/trabalhofinal/images/wppr.png);
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
  }

  .box {
    max-width: 575.98px;
    font-size: 15px;
    line-height: 25px;
    padding: 20px;
  }


  .menu-mobile {
    flex-direction: column;
    align-items: center;


  }

  h2 {
    font-size: 1.2rem;
  }

  .cabecalho {
    height: 70px;
  }

  .footer-icon {
    transform: scale(.7);
  }
}